
@import 'utilities';
@import 'links';
@import 'typography';

.theme-light {
  --bg-background-primary: white;
  --bg-background-secondary: #edf2f7;
  --bg-background-card: white;

  --text-copy-primary: #2a4365;
  --text-copy-secondary: #4a5568;
  --text-copy-heading: #4a5568;
  --text-copy-hover: #3182ce;
}

.theme-dark {
  --bg-background-primary: #1a202c;
  --bg-background-secondary: #2d3748;
  --bg-background-card: #2d3748;

  --text-copy-primary: #edf2f7;
  --text-copy-secondary: #4a5568;
  --text-copy-heading: #718096;
  --text-copy-hover: #90cdf4;
}

.content-wrapper {
  transition: background-color .25s;
}
