h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-tight mt-0 mb-6 text-copy-heading;
}

.page-title {
	@apply text-5xl;
}


.content {
	p {
		@apply mb-8 text-copy-primary;
		&:first-child {
			@apply border-b border-gray-200 text-2xl pb-10 mb-10 font-light leading-snug;
			@screen md {
                @apply text-3xl;
            }
		}
    }

	code {
		background: #f7fafc;
		border: 1px solid #ddd;
		border-left: 3px solid #3182ce;
		color: #2a4365;
		page-break-inside: avoid;
		font-family: monospace;
		font-size: 15px;
		line-height: 1.5;
		margin-bottom: 1.6em;
		max-width: 100%;
		overflow: auto;
		padding: 1em 1.5em;
		display: block;
		word-wrap: break-word;
	}
}
